<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:200,300,400,500,700|Roboto:300,300i,400,500,700" rel="stylesheet">
    <title>map-challenges-admin</title>
    <style>
      body {
        margin: 0;
      }

      html, body, #app {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but map-challenges-admin doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <script id="apiroot"></script>
    <!-- built files will be auto injected -->
  </body>
</html>
